# ignore everything
*

# except these files
!scripts
!scripts/**
!bashrc
!zshrc
!vimrc
!tmux.conf
!install.sh
!uninstall.sh
!readme.md

# and except git stuff
!.gitignore
!gitconfig
!gitignore_global
