# ignore everything
*

# except these files
!i3
!i3/**
!scripts
!scripts/**
!bashrc
!install.sh
!readme.md
!ssh_config
!tmux.conf
!uninstall.sh
!vimrc
!zshrc

# and except git stuff
!.gitignore
!gitconfig
!gitignore_global
