# ignore everything
*

# except these files
!exec
!exec/**
!i3
!i3/**
!scripts
!scripts/**
!bashrc
!install.sh
!README.md
!ssh_config
!tmux.conf
!uninstall.sh
!vimrc
!zshrc

# and except git stuff
!.gitignore
!gitconfig
!gitignore_global
!gitconfig_robot
