# computers at LAAS
Host *.laas.fr
    User hkhambha
    IdentityFile $HOME/.ssh/laas_rsa
    ForwardX11Trusted yes
Host lh
    User hkhambha
    HostName harmish.laas.fr
    IdentityFile $HOME/.ssh/laas_rsa
    ForwardX11Trusted yes
Host lg
    User hkhambha
    HostName georgina.laas.fr
    IdentityFile $HOME/.ssh/laas_rsa
    ForwardX11Trusted yes
Host ls
    User hkhambha
    HostName saint-cyprien.laas.fr
    IdentityFile $HOME/.ssh/laas_rsa
    ForwardX11Trusted yes

# pr2 computers
Host bc1
    User hkhambha
    HostName bobc1.laas.fr
    IdentityFile $HOME/.ssh/laas_rsa
    ForwardX11Trusted yes
Host bc2
    User hkhambha
    HostName bobc2.laas.fr
    IdentityFile $HOME/.ssh/laas_rsa
    ForwardX11Trusted yes
Host mc1
    User hkhambha
    HostName maxc1.laas.fr
    IdentityFile $HOME/.ssh/laas_rsa
    ForwardX11Trusted yes
Host mc2
    User hkhambha
    HostName maxc2.laas.fr
    IdentityFile $HOME/.ssh/laas_rsa
    ForwardX11Trusted yes
