# git hosts
Host bitbucket.com
    IdentityFile ~/.ssh/bitbucket_rsa
Host github.com
    IdentityFile ~/.ssh/github_rsa
Host gitlab.com
    IdentityFile ~/.ssh/gitlab_rsa
Host vs-ssh.visualstudio.com
    IdentityFile ~/.ssh/vsts_rsa

# computers at LAAS
Host *.laas.fr
    User hkhambha
    IdentityFile ~/.ssh/laas_rsa
    ForwardX11Trusted yes
Host lh
    User hkhambha
    HostName harmish.laas.fr
    IdentityFile ~/.ssh/laas_rsa
    ForwardX11Trusted yes
Host lg
    User hkhambha
    HostName georgina.laas.fr
    IdentityFile ~/.ssh/laas_rsa
    ForwardX11Trusted yes
Host lrm
    User hkhambha
    HostName redmine.laas.fr
    IdentityFile ~/.ssh/laas_redmine_rsa
Host ls
    User hkhambha
    HostName saint-cyprien.laas.fr
    IdentityFile ~/.ssh/laas_rsa
    ForwardX11Trusted yes

# pr2 computers
Host bc1
    User hkhambha
    HostName bobc1.laas.fr
    IdentityFile ~/.ssh/laas_rsa
    ForwardX11Trusted yes
Host bc2
    User hkhambha
    HostName bobc2.laas.fr
    IdentityFile ~/.ssh/laas_rsa
    ForwardX11Trusted yes
Host mc1
    User hkhambha
    HostName maxc1.laas.fr
    IdentityFile ~/.ssh/laas_rsa
    ForwardX11Trusted yes
Host mc2
    User hkhambha
    HostName maxc2.laas.fr
    IdentityFile ~/.ssh/laas_rsa
    ForwardX11Trusted yes

# pepper computers
Host lr
    User hkhambha
    HostName richard.laas.fr
    IdentityFile ~/.ssh/laas_rsa
    ForwardX11Trusted yes
Host pepper
    User nao
    HostName mummer.laas.fr
    PubkeyAuthentication=no

# computers at ENSTA
Host er
    User khambhaita
    HostName relais.ensta.fr
    IdentityFile ~/.ssh/ensta_rsa

Host ei
    User harmish
    HostName idefix.ensta.fr
    IdentityFile ~/.ssh/ensta_local_rsa
    ProxyCommand ssh er nc %h %p
    ForwardX11Trusted yes

Host !relais.ensta.fr !idefix.ensta.fr *.ensta.fr
    User khambhaita
    PreferredAuthentications password
    ProxyCommand ssh er nc %h %p
